{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<div class="container">
    <div class="filter-section">
        <div class="filter-section-top">
            <label for="curriculumSelect">교과과정</label>
            <select id="curriculumSelect">
                <option value="all">--전체--</option>
                {% for curriculum in curriculum_list %}
                    <option value="{{ curriculum }}">{{ curriculum }}</option>
                {% endfor %}
            </select>

            <label for="classificationSelect">교과영역구분</label>
            <select id="classificationSelect">
                <option value="all">--전체--</option>
            </select>

            <label for="campusSelect">캠퍼스</label>
            <select id="campusSelect">
                <option value="all">--전체--</option>
                {% for campus in campus_list %}
                    <option value="{{ campus }}">{{ campus }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-section-middle" id="selectContainer"></div>

        <div class="filter-section-bottom">
            <select id="selectSearchConditions">
                {% for value, label in search_zip_list %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            <input id="searchText" type="text">
            <button id="submitButton" type="button" >조회</button>
        </div>
    </div>

    <div class="lectureBox">
        <div class="table" id="lectureTable">
            <div class="table-row">
                <div>교과과정</div>
                <div>교과영역구분</div>
                <div>학수번호</div>
                <div>과목명</div>
                <div>학점</div>
                <div>그룹추가</div>
            </div>
        </div>

    </div>
    <div class="basketBox">
        <div class="table" id="UserBasketTable">
            <div class="table-row">
                <div>교과과정</div>
                <div>교과영역구분</div>
                <div>학수번호</div>
                <div>과목명</div>
                <div>학점</div>
                <div>그룹제거</div>
            </div>
        </div>
    </div>
</div>
<script>
    var get_classification_options_url = "{% url 'search:get_classification_options' %}";
    var get_univ_options_url = "{% url 'search:get_univ_options' %}";
    var get_major_options_url = "{% url 'search:get_major_options' %}";
    var get_lecture_group_url = "{% url 'search:get_lecture_group' %}";
    var get_lecture_url = "{% url 'search:get_lecture' %}";
    var add_userbasket_url = "{% url 'search:add_userbasket' %}";
    var delete_userbasket_url = "{% url 'search:delete_userbasket' %}";
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/dynamicSelect.js' %}"></script>
<script src="{% static 'js/getLectureGroup.js' %}"></script>
<script src="{% static 'js/getLecture.js' %}"></script>
<script src="{% static 'js/addBasket.js' %}"></script>
<script src="{% static 'js/deleteBasket.js' %}"></script>
{% endblock %}