{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<div class="navbar">
    <div class="navbar-item"><a href="{% url 'account:signup' %}" class="navbar-link">회원가입</a></div>
    <div class="navbar-item"><a href="{% url 'account:login' %}" class="navbar-link">로그인</a></div>
    <div class="navbar-item"><a href="{% url 'search:search' %}" class="navbar-link">강의조회</a></div>
    <div class="navbar-item"><a href="{% url 'result:result' %}" class="navbar-link">강의조합</a></div>
    <div class="navbar-item"><a href="{% url 'mypage:mypage' %}" class="navbar-link">마이페이지</a></div>
</div>