{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<div class="navbar">
    <div class="navbar-logo"><a href="{% url 'home' %}" class="logo-link">LOGO</a></div>
    <div class="navbar-items">
        <div class="navbar-item"><a href="{% provider_login_url 'google' %}" class="navbar-link">로그인</a></div>
        <div class="navbar-item"><a href="{% url 'roomfinder:roomfinder' %}" class="navbar-link">빈강의실조회</a></div>
        <div class="navbar-item"><a href="{% url 'search:search' %}" class="navbar-link">강의조회</a></div>
        <div class="navbar-item"><a href="{% url 'result:result' %}" class="navbar-link">강의조합</a></div>
        <div class="navbar-item"><a href="{% url 'mypage:mypage' %}" class="navbar-link">마이페이지</a></div>
    </div>
</div>